extends form_base


block requiredfields
  label.field
    input(type="text", name="groupID", required, pattern="[A-Za-z0-9.-]+").field_field
    div.field_description= _.FORM.FIELD.GROUP

  label.field
    input(type="text", name="version", required, pattern="[A-Za-z0-9.-]+").field_field
    div.field_description= _.FORM.FIELD.VERSION

  // For now, we do not deploy on Maven Central
  //label.field
  //  input#checkbox_maven_toggler(type="checkbox", name="mavencentral").field_field
  //  div.field_description(style="display: inline") Déployer sur Maven central 

block otherfields
  div.section#section-maven

      h3= _.FORM.SECTION.CENTRAL
      p !{_.FORM.SECTION.CENTRAL_INFO}

      div.content
        label.field
          input(type="text", name="artifactName").field_field.mvn_required
          div.field_description= _.FORM.FIELD.NAME

        label.field
          input(type="text", name="artifactDescription").field_field.mvn_required
          div.field_description= _.FORM.FIELD.DESCRIPTION

        label.field
          input(type="url", name="artifactURL").field_field.mvn_required
          div.field_description= _.FORM.FIELD.URL

        label.field.large
          textarea#textarea_developpers(name="developers", spellcheck="false").field_field.mvn_required
          div.field_description= _.FORM.FIELD.DEVELOPERS

        label.field.large
          textarea#textarea_scm(name="scm", spellcheck="false").field_field.mvn_required
          div.field_description= _.FORM.FIELD.SCM

  div.section#section-optionnal

      h3= _.FORM.SECTION.OPTIONAL

      div.content

        label.field.large
          input(type="text", name="organization").field_field
          div.field_description= _.FORM.FIELD.ORGANIZATION

        label.field.large
          input(type="text", name="year", pattern="[0-9]{4}").field_field
          div.field_description= _.FORM.FIELD.YEAR

block submit
  div.section#section-submit
    div.submit_button#submit_artifact
      span= _.FORM.BUTTON_MAVEN
      img(src="/img/spinner.png")
    p#operation_time(style='display:none')= _.FORM.OPERATION

block scripts 
  script(type="text/javascript", src="/scripts/form.js")
  script.
    document.addEventListener('DOMContentLoaded',function() {
      // add listeners
      document.getElementById('submit_artifact').onclick=() => {
          document.getElementById("operation_time").style.display="inherit";
          submit_ajax(document.getElementById("form"), document.getElementById('submit_artifact'))
      }; 
    },false);




