extends layout


block content

  section.section
    p !{_.HOME_WORDING.INTRO}


  section.section
    h2 !{_.HOME_WORDING.SECTION_MAVEN_TITLE}
    p !{_.HOME_WORDING.SECTION_MAVEN_INTRO}
    div.cutinhalf
      div.half
        a.submit_button(href="/form-maven" title=_.BUTTONS.BUTTON_FORM_MAVEN_TITLE)
          span #{_.BUTTONS.BUTTON_FORM_MAVEN}
      div.half
        a.submit_button(href="/manual" title=_.BUTTONS.BUTTON_MANUEL_TITLE)
          span #{_.BUTTONS.BUTTON_MANUEL}

  
  section.section
    h2 !{_.HOME_WORDING.SECTION_PR_TITLE}

    a.submit_button(href="/github-oauth" title=_.BUTTONS.BUTTON_PR_TITLE)
      span #{_.BUTTONS.BUTTON_PR}
